@{
    ViewData["Title"] = "Temple Appointment List";
}
@model List<ApplicationResponse>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>

            <td>Group Name: </td>
            <td>Group Size: </td>
            <td>Email: </td>
            <td>Phone: </td>
            <td>Time: </td>


        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.Email</td>
                <td>@x.Phone</td>
                <td>@x.Time.TimeSlot</td>



                <td><a asp-controller="Home" asp-action="Edit" asp-route-appointmentid="@x.AppointmentID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.AppointmentID">Delete</a></td>

            </tr>

        }
    </tbody>

</table>